
.feature {
    cursor: pointer;
    stroke: #808080;
    stroke-width: 0.003;
}

.feature.active {
    stroke: blue;
    stroke-width: 0.007;
}

.outline {
    stroke: darkgray;
    stroke-width: 0.01;
    fill: none;
}

div.tooltip {
    position: absolute;           
    text-align: center;           
    width: 275px;                  
    height: 25px;     
    padding: 2px;             
    font-size: 14px;     
    border: 1px solid black;
    border-radius: 7px;
    pointer-events: none;
    background: rgba(0,0,0,0.75);
    color: #fff;
}   
